@*Manage Insitution*@
@using L5A2Programming.Areas.Admin.Models
@model ManageInstitutionViewModel

@{
    ViewData["Title"] = "ManageInstitution";
}
<div class="row">
    <form method="post">
    
            <h2>Manage @Model.User.FName 's Institution</h2>
            <input type="hidden" asp-for="@Model.User.Id" />
              @*Displays a list of all possible insitutions and assigns it to the user*@
            <div class="m-3">
                @Html.DropDownListFor(m => m.User.InstitutionId, Model.Institution, "Select an Institution", new {@class = "form-select"})
            </div>
            <div>
                <button class="btn btn-secondary" type="submit">Update</button>
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </div>
     
    </form>
</div>    
