@*Index*@
@model IEnumerable<L5A2Programming.Models.CategoryModel>

<h1>Category Overview</h1>

 <div class="container">
    <div class="row">
        <div class="col">
            @*Displays inout box and a button*@
        <form method="post" asp-action="Create" asp-controller="Category">
            <div class="input-group">
                <input name="Name" class="form-control" placeholder="Category Name" />
                <span class="input-group-btn">
                    <button class="btn btn-primary">Add Category</button>
                </span>
            </div>
        </form>
        </div>
        <div class="col">

        </div>
     </div>
 </div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
                        <th>Actions</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>