@*Create*@
@model L5A2Programming.Models.InstitutionModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create Institution</h4>

    @*Displays three input fields*@
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control mb-2" placeholder="Real Building 32"/>
                </div>

                <div class="mb-3">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control mb-2" placeholder="TA35GA"/>
                </div>

                <div class="mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Not Fake Road 12"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Add Institution</button>
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
